<nav class="navbar navbar-expand-lg navbar-light " >
    <a class="navbar-brand" [routerLink]="['/home']" style="font-family:Verdana, Geneva, Tahoma, sans-serif"><img src="./assets/images/icon.webp" width="40px" height="40px"/>&nbsp;
        Kitchen Story</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>     
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto topnav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/kitchen']">Kitchen Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About Us</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link " [routerLink]="['/contact']">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/register']">Register</a>
    </li>
    </ul>
</div>
</nav>
<hr style="color:black;">

<h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
<p class="text-center w-responsive mx-auto mb-5">Please fell free to contact us. We value your feedback.</p>

    <div class="container" width="100%">
        <form novalidate (ngSubmit)="contact_form(regForm)" #regForm="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="firstNameId" class="">Your name</label>  
                      <input type="text" required class="form-control"
                                  id="firstNameId" 
                                  minlength="4" 
                                  name="firstName" 
                                  [(ngModel)]=contact.name 
                                  #firstName="ngModel"
                                  [ngClass]="{'is-invalid':(firstName.touched||firstName.dirty)&&!firstName.valid}"/>

                                  <span class="invalid-feedback">
                                      <span *ngIf=firstName.errors?.required>
                                          The first name is required
                                      </span>    
                                  </span>
                                                  
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="md-form mb-0">
                      <label for="mail" class="">Your email</label>  
                      <input type="text" required class="form-control"
                              id="mail"  
                              name="mail" 
                              [(ngModel)]=contact.mail 
                              #mail="ngModel"
                              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                              [ngClass]="{'is-invalid':(mail.touched||mail.dirty)&&!mail.valid}"/>
                              
                              <span class="invalid-feedback">
                                  <span *ngIf=mail.errors?.required>
                                      Mail is required
                                  </span>    
                                  <span *ngIf=mail.errors?.pattern>
                                      please enter valid email format
                                  </span>                                
                              </span> 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form mb-0">
                      <label for="subject_id" class="">Subject</label>  
                      <input type="text" required 
                              class="form-control"
                              id="subject_id"  
                              name="subject" 
                              [(ngModel)]=contact.subject 
                              #subject="ngModel"
                              [ngClass]="{'is-invalid':(subject.touched||subject.dirty)&&!subject.valid}"/>
                              
                              <span class="invalid-feedback">
                                  <span *ngIf=subject.errors?.required>
                                      Subject is required
                                  </span>                                    
                              </span>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="md-form">
                      <label for="message">Your message</label> 
                      <textarea type="text" required class="form-control" rows=4  
                              id="message"  
                              name="message" 
                              [(ngModel)]=contact.message 
                              #message="ngModel"
                              [ngClass]="{'is-invalid':(message.touched||message.dirty)&&!message.valid}"></textarea>
                              
                              <span class="invalid-feedback">
                                  <span *ngIf=message.errors?.required>
                                      Message is required
                                  </span>                                                                       
                              </span>                        
                    </div>
                </div>
            </div><br>
            <div class="text-center text-md-center" align="center">
              <button class="btn btn-success" type="submit" [disabled]="regForm.invalid">Submit</button>
          </div>
        </form>
        <br>
    </div>

